{% extends 'cronometro/base/base.html' %}
{% load static %}

{% block titulo %}cronómetro{% endblock titulo %}

{% block encabezado %}Inicio{% endblock encabezado %}
{% block subencabezado %}cronómetro{% endblock subencabezado %}

{% block contenedor %}
{% if request.session.logueoUsuario %}

                <!-- Begin Page Content -->
                <div class="container-fluid" >

                    

                   <div> 
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{% if message.tags != 'error' %}{{ message.tags }}{% elif message.tags == 'error' %}danger{% endif %}" role="alert">{{ message }}</div>
                            {% endfor %}
                        {% endif %}

                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalOperarios">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Parametros
                        </a>                        
                    
                   </div>
                   

                    <!-- Content Row  cajas superiores -->

                    <div  id="contenido" class="contenedoPrincipal">
                        
                            <!-- Area cronómetro -->
                            <div class="secciones uno">
                                <div class="">
                                    <div class="card shadow mb-2">
                                        <!-- Card Header - Dropdown -->
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">cronómetro</h6>
                                            <div class="dropdown no-arrow">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                                
                                            </div>
                                        </div>
                                        <!-- cronómetro Body -->
                                        <div class="card-body" ">
                                            <div class=" ">
                                                <div >
                                                    <h3 id="tiempo" >00:00:00</h3>
                                                </div>

                                                <div style="width: auto;">              
                                                <a id="iniciarBoton" class="btn btn-primary" type="button">Iniciar</a>
                                                <a id="pararBoton" class="btn btn-primary" type="button" >Detener</a>
                                                <a id="tiemposParciales" class="btn btn-primary" type="button" disabled="true">Parcial</a>
                                                </div>
                                                <div style="width: auto;">
                                                    <br/>
                                                <form action="{% url 'cronometro:guardarTiempoEstandar' opOpera.id %}" method="POST">
                                                    {%csrf_token%}
                                                    <div class="columnaG">
                                                        <div class="columna">
                                                            <label for="factoRitmo">Ritmo (BSI) </label>
                                                            <input name="factoRitmo" id="factoRitmo" value= "{{opOpera.factorRitmo}}" readonly="">
                                                            <label for="escalaSuplemento"> Suplementos</label>
                                                            <input name= "escalaSuplemento" id="escalaSuplemento" value="{{opOpera.escalaSuplementos}}" readonly="">
                                                            
                                                        </div>

                                                        <div class="columna">
                                                            <label for="cajaTiempoObservado"> Tiempo observado</label>
                                                            <input type='number' id="cajaTiempoObservado" name="cajaTiempoObservado"  readonly ="" placeholder="0">
                                                        </div>
                                                    </div>
                                                     
                                                    <div class="columnaG">
                                                        <br/>
                                                        <button   class="btn btn-primary" type="submit">Guardar</button>
                                                    </div>
                                                </form>  
                                                </div> 
    
                                            </div>
                                        </div>

                                    </div>


                                    

                                </div>
                            </div>
                            <!--fin de Area cronometro -->
                            
                            <!-- Area graficos -->
                            
                            <div class="secciones tres">
                                
                                <div class="card shadow mb-4">

                                    <!-- Card Header - Dropdown -->
                                    <div  class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Gráfica (centésimas)</h6>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>

                                            

                                            
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">

                                        <div style="height: 100%; overflow: auto;">
                                        
                                            <a id="graficar" ></a>
                                            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                                            <canvas id="graficoTiempos"  width="100%" height="200px">


                                            </canvas>

                                            
                                                <!-- Incluye la librería Chart.js y el código de JavaScript para crear el gráfico -->
                                            
                                            <script>
                                                var ctx = document.getElementById('graficoTiempos').getContext('2d');
                                                var datos = JSON.parse('{{ datos_json|escapejs }}');
                                                console.log(datos);
                                                var myChart = new Chart(ctx, {
                                                    type: 'line',
                                                    data: {
                                                        labels: [],
                                                        datasets: [{
                                                            label: 'Mi gráfico',
                                                            data: datos,
                                                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                                            borderColor: 'rgba(255, 99, 132, 1)',
                                                            borderWidth: 1
                                                        }]
                                                    },
                                                    options: {
                                                        scales: {
                                                            yAxes: [{
                                                                ticks: {
                                                                    beginAtZero: true
                                                                }
                                                            }]
                                                        }
                                                    }
                                                });
                                        
                                                function actualizarGrafico(valor) {
                                                    // Envía una solicitud AJAX al servidor para obtener los nuevos datos del gráfico
                                                    $.ajax({
                                                        
                                                        data: {
                                                            valor: valor
                                                        },
                                                        success: function(data) {
                                                            // Agrega los nuevos datos al gráfico
                                                            myChart.data.labels.push(new Date().toLocaleTimeString());
                                                            myChart.data.datasets[0].data.push(data);
                                                            myChart.update();
                                                        }
                                                    });
                                                }
                                        
                                                // Actualiza el gráfico cada 5 segundos con el valor de la cookie
                                                var valor = '{{ request.COOKIES.tiempos_miliseg }}';
                                                var temporizador = setInterval(function() {
                                                    actualizarGrafico(valor);
                                                }, 5000);
                                            </script>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                        
                            <!--fin de Chart graficos -->


                            <!--  Chart tiempos-->
                            <div class="secciones dos">
                                <div class="">
                                    <div class="">
                                        <!-- Card Header - Dropdown -->
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Intervalos </h6>
                                            <div class="dropdown no-arrow">
                                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                </a>
                                                
                                            </div>
                                        </div>
                                        <!-- Card Body -->
                                        <div class="card-body">
                                            <div class="chart-pie pt-4 pb-2"  id= "tiemposCronometro">
                                                <!-- Aqui apareceran los tiempos -->
                                                

                                            </div>
                                            <div id= "contenidoTes" class="mt-4 text-center small" >
                                                <div id ="tiempoNor" class= "column" >
                                                    <span class="mr-2">
                                                        <i class="fas fa-circle text-primary"></i> Tiempo Normal
                                                        <div  class=""></div>
                                                    </span>
                                                </div>
                                                <div id="tiempoEst" class= "column"  >
                                                    
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--fin de Chart tiempos -->

                            

                        
                    </div>
                    
                    


                    <!-- Content Row -->
                   

                </div>
                <!-- /.container-fluid -->


                <!--  Modal operarios-->
                <div class="modal fade" id="modalOperarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Datos de medición</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                                
                                <div class="form-row"><!--Operarios-->
                                    
                                    
                                    
                        
                                   
                                    <label for="operario">Operario</label>
                                        <select name="operario" class="form-control" id="operario" required>
                                            <option value="1" selected>{{operario.nombre }}</option>
                                        </select>
                                    
                                    <label for="operacion">Operación</label>
                                        <select name="operacion" class="form-control" id="operacion" required>
                                            <option value="1" selected>{{operacion.nombre }}</option>
                                        </select>

                                    <label for="maquina">Maquina</label>
                                        <select name="maquina" class="form-control" id="maquina" required>
                                            <option value="1" selected>{{maquina.nombre }}</option>
                                        </select>

                                    <label for="factorRitmo">Factor de ritmo (BSI) </label> 
                                       <input name="factorRitmo" id="factorRitmo" value= "{{opOpera.factorRitmo}}" readonly=""> 
                                 

                                    <label for="escalaSuplementos"> Escala de suplementos</label>
                                        <input name= "escalaSuplementos" id="escalaSuplementos" value="{{opOpera.escalaSuplementos}}" readonly="">
                                           
                                    

                                </div>
                        

                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cerrar</button>
                                   
                                </div>
                            </form>

                        </div>
                    </div>   
                </div>

            

            </div>

            <script src="{% static 'cronometro/js/cronometro.js' %}">
            </script>
            <!-- End of Main Content -->
{% else %}
No hay datos.
Inicie sesion.

{% endif %}

            {% endblock contenedor %}     