{% extends 'cronometro/base/base.html' %}
{% load static %}

{% block titulo %}Cronometro{% endblock titulo %}

{% block encabezado %}Inicio{% endblock encabezado %}
{% block subencabezado %}Cronometro{% endblock subencabezado %}

{% block contenedor %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>

                   <div> 
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{% if message.tags != 'error' %}{{ message.tags }}{% elif message.tags == 'error' %}danger{% endif %}" role="alert">{{ message }}</div>
                            {% endfor %}
                        {% endif %}

                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalOperarios">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Parametros
                        </a>                        
                    
                   </div>
                   

                    <!-- Content Row  cajas superiores -->

                    <div class="row">

                        <!-- Area cronometro -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-2">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Cronometro</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>

                                        

                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                           
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cronometro Body -->
                                <div class="card-body" height: "100px;">
                                    <div class="chart-area" height: "100px;">
                                        <h3 ></h3>
                                        <h2 id="tiempo" >00:00:00</h2>
                                                        
                                        <a id="iniciarBoton" class="btn btn-primary" type="button">Iniciar</a>
                                        <a id="pararBoton" class="btn btn-primary" type="button">Parar</a>
                                        <a id="tiemposParciales" class="btn btn-primary" type="button">parcial</a>
                                        <a id="enviarBoton" href="{% url 'cronometro:guardarTiempoEstandar' operario.id %}" class="btn btn-primary" type="button">Guardar</a>
                                        

                                        
                                        
                                    </div>
                                </div>

                            </div>


                            

                        </div>
                        <!--fin de Area cronometro -->
                        <!-- Area graficos -->

                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <a id="graficar" class="btn btn-primary" type="button">graficar</a>
                                <canvas id="graficoTiempos"  width="600" height="400">


                                </canvas>

                                
                                    <!-- Incluye la librería Chart.js y el código de JavaScript para crear el gráfico -->
                                
                                <script>
                                    var ctx = document.getElementById('graficoTiempos').getContext('2d');
                                    var datos = JSON.parse('{{ datos_json|escapejs }}');
                                    console.log(datos);
                                    var myChart = new Chart(ctx, {
                                        type: 'line',
                                        data: {
                                            labels: [],
                                            datasets: [{
                                                label: 'Mi gráfico',
                                                data: datos,
                                                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                                borderColor: 'rgba(255, 99, 132, 1)',
                                                borderWidth: 1
                                            }]
                                        },
                                        options: {
                                            scales: {
                                                yAxes: [{
                                                    ticks: {
                                                        beginAtZero: true
                                                    }
                                                }]
                                            }
                                        }
                                    });
                            
                                    function actualizarGrafico(valor) {
                                        // Envía una solicitud AJAX al servidor para obtener los nuevos datos del gráfico
                                        $.ajax({
                                            
                                            data: {
                                                valor: valor
                                            },
                                            success: function(data) {
                                                // Agrega los nuevos datos al gráfico
                                                myChart.data.labels.push(new Date().toLocaleTimeString());
                                                myChart.data.datasets[0].data.push(data);
                                                myChart.update();
                                            }
                                        });
                                    }
                            
                                    // Actualiza el gráfico cada 5 segundos con el valor de la cookie
                                    var valor = '{{ request.COOKIES.tiempos_miliseg }}';
                                    var temporizador = setInterval(function() {
                                        actualizarGrafico(valor);
                                    }, 5000);
                                </script>
                            </div>    
                        </div>
                        <!--  Chart tiempos-->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Tiempo</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div style="height: 200px; overflow: auto;" id= "tiemposCronometro">
                                        <!-- Aqui apareceran los tiempos -->
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Direct
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Social
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Referral
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                    <!-- Contenedor resultado de tiempos -->
                    <div class="row" id= "tiemposCronometro">

                        

                        

                        
                        

                        
                    </div>

                    <!-- Content Row -->
                   

                </div>
                <!-- /.container-fluid -->


                <!--  Modal operarios-->
                <div class="modal fade" id="modalOperarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Datos de medición</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'cronometro:guardarTiempoParcial' %}" class="needs-validation" novalidate="" method="post">
                                {% csrf_token %}    
                                <div class="form-row"><!--Operarios-->
                                    
                                    <label for="canIntervalos">Cantidad de intervalos</label> 
                                        <select name="canIntervalos" class="form-control" id="canIntervalos" required>
                                            <option value="10" selected>10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                        </select>
                                    
                        
                                   
                                    <label for="operario">Operario</label>
                                        <select name="operario" class="form-control" id="operario" required>
                                            <option value="1" selected>{{operario.nombre }}</option>
                                        </select>

                                    <label for="factorRitmo">Factor de ritmo (BSI)</label> 
                                        <select name="factorRitmo" class="form-control" id="factorRitmo" required>
                                            
                                            <option  value= {{operario.factorRitmo}}  selected>{{operario.factorRitmo}}</option> 
                                            
                                        </select>
                                        
                                                
                                    

                                    <label for="escalaSuplementos"> Escala de suplementos</label>
                                            <select name= "escalaSuplementos" class="form-control" id="escalaSuplementos" required>
                                                
                                                <option value="{{operario.escalaSuplementos}}" selected>{{operario.escalaSuplementos}}</option>
                                               
                                            </select>
                                                                             
                                                
                                    

                                </div>
                        

                                <div class="modal-footer">
                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-primary" href="#">Aceptar</a>
                                    <button type="submit">Enviar formulario</button>
                                </div>
                            </form>

                        </div>
                    </div>   
                </div>

            

            </div>

            <script src="{% static 'cronometro/cronometro.js' %}">
            </script>
            <!-- End of Main Content -->

            {% endblock contenedor %}     