{% extends 'cronometro/base/base.html' %}
{% load static %}

{% block titulo %}Inicio{% endblock titulo %}

{% block encabezado %}Bienbenido{% endblock encabezado %}
{% block subencabezado %}Index{% endblock subencabezado %}

{% block contenedor %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags != 'error' %}{{ message.tags }}{% elif message.tags == 'error' %}danger{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if request.session.logueoUsuario %}
{% if request.session.logueoUsuario.4 == 'Usuario' %}



<div class="listar-operario mt-50 mb-150 pl-5 pr-5" id="respuesta">
    <div class="contenedor">
        <div class="table-responsive">
            <table id="lista" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Entidad</th>
                        <th>Tiempo estandar</th>
                        <th>factor ritmo</th>
                        <th>escala suplementos</th>
                        <th>estado</th>
                        <th>Descargar</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for operario in operarios %}
                    <tr>
                        <td> {{operario.id}} </td>
                        <td> {{operario.nombre}}</td>
                        <td> {{operario.fecha}}</td>
                        <td> {{operario.entidad}}</td>
                        <td> {{operario.tiempoEstandar}}</td>
                        <td> {{operario.factorRitmo}}</td>
                        <td> {{operario.escalaSuplementos}}</td>
                        <td> 
                            <a href="{% url  'cronometro:deshabilitarOperario' operario.id %}" {% if operario.estado %}class="btn btn-success"> Habilitado {% else %}class="btn btn-danger"> Deshabilitado {% endif %}</a>
                        </td>
                        <td>
                            <a href="{% url 'cronometro:actualizarOperario' operario.id %}" class="btn btn-info">Editar</a>
                            <a class="btn"  href="{% url 'cronometro:generarInforme' operario.id %}">
                                
                                <i class="icono-descarga fas fa-download"></i> 
                            </a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="pagination-wrap mb-100">
                    <ul>
                        <li><a href="?page=1">&laquo;</a></li>
                        <li><a {% if operarios.has_previous %} href="?page={{ operarios.previous_page_number }}" {% endif %}>Anterior</a></li>

                        {% for i in "x"|rjust:operarios.paginator.num_pages|make_list %}
                        <li><a {% if forloop.counter == operarios.number %} class="active" {% endif %} href="?page={{ forloop.counter }}"> {{ forloop.counter }} </a></li>
                        {% endfor %}

                        <li><a {% if operarios.has_next %} href="?page={{operarios.next_page_number }}" {% endif %}>Siguiente</a></li>
                        <li><a {% if operarios.has_next %} href="?page={{operarios.paginator.num_pages }}" {% endif %}>&raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
No hay datos.
Inicie sesion.
{% endif %}
{% endif %}

{% endblock contenedor %}