

{% extends 'cronometro/base/base.html' %}
{% load static %}

{% block titulo %}Inicio{% endblock titulo %}

{% block encabezado %}Bienbenido{% endblock encabezado %}
{% block subencabezado %}Index{% endblock subencabezado %}

{% block contenedor %}

{% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags != 'error' %}{{ message.tags }}{% elif message.tags == 'error' %}danger{% endif %}" role="alert">{{ message }}</div>
        {% endfor %}
{% endif %}




<!-- contact form -->
<br>
<div class="contact-from-section mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="form-title">
                    <h2>¡Registrate y hazte miembro!</h2>
                    <p>Es rápido y fácil</p>
                </div>
                
                <div>
                    <form action="{% url 'cronometro:guardarUsuario' %}" class="needs-validation" method="post">
                        {% csrf_token %}
                        <p>
                            <input type="text" placeholder="Nombre" name="nombre" class="formularioDoble" required>
                            <input type="text" placeholder="Apellidos" name="apellido" class="formularioDoble" required>
                        </p>
                        <p>Fecha de nacimiento
                            <input type="date" name="fecha_nacimiento" class="formularioSolo" required>
                        </p>
                        <p>
                            <input type="email" placeholder="Correo electrónico" name="email" class="formularioSolo" required>
                        </p>
                        <p>
                            <input type="password" placeholder="Contraseña nueva" name="clave" class="formularioSolo" required>
                        </p>
                        <br>
                        <div class="form-btns">
                            <button type="submit">Crear cuenta</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock contenedor %}  
