{% extends 'cronometro/base/base.html' %}
{% load static %}

{% block titulo %}Ed Empresa{% endblock titulo %}

{% block encabezado %}Bienbenido{% endblock encabezado %}
{% block subencabezado %}Index{% endblock subencabezado %}

{% block contenedor %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags != 'error' %}{{ message.tags }}{% elif message.tags == 'error' %}danger{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if request.session.logueoUsuario.4 == 'Administrador' %}


<br>
<div class="contact-from-section mb-150">
    <div class="container">
        <div class="form-title">
            <h2>Edición de empresa</h2>
            
        </div>
        <div class="formulario">
            <form action="{% url 'cronometro:guardarAcEmpresa' empresa.id%}" class="needs-validation" novalidate="" method="post">{% csrf_token %}
                <input value="{{empresa.id}}" readonly name="id" type="hidden" required>
                <div class="col">
                    <p>Nombre  </p>
                    <input value="{{empresa.nombre}}" name="nombre" type="text" placeholder="Nombre o razon social" required>
                    
                </div>
                <div class="col">
                    <p>Nit  </p>
                    <input value="{{empresa.nit}}" name="nit" type="text" placeholder="Nit" required>
                    
                </div>
                

                <div class="col">
                    <br>
                    <label for="habilitadoEmpresa">Estado</label>
                    <br>
                    <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="estado" {% if empresa.estado %} checked {% endif %} value="True">Habilitado
                        </label>
                      </div>
                      <div class="form-check-inline">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="estado" {% if not empresa.estado %} checked {% endif %}value="False">Deshabilitado
                        </label>
                    </div>
                </div>
                    
                <br/>
                <!-- Botón del enviar formulario-->
                <div class="form-btns">
                    <button type="submit">Enviar formulario</button>
                    <button type="reset">Limpiar formulario</button>
                </div>
            </form>
        </div>
        
    </div>
</div>



{% else %}
No hay datos.
Inicie sesion.
{% endif %}

{% endblock contenedor %}